<!DOCTYPE html>
<html>
<head>
    <title>Smart Companion | Home Page</title>
    <link href="superadmin.css" rel="stylesheet">
</head>
<header>
    <div class="header">
        <h1>
           <a href="superadmin.html">SMART COMPANION</a>
        </h1>
    </div>
</header>
<body>
    <div class="navigation">
        <div class="box">
            <a href="viewadmins.html">VIEW ADMINS</a>
        </div>
        <div class="box">
            <a href="system.html">SYSTEM OVERSIGHT</a>
        </div>
    </div>
</body>
<footer>
    &copy; 2024 Smart Companion Application | Group 2 T18L
</footer>
</html>