<!DOCTYPE html>
<html>
<head>
    <title>Smart Companion | Home Page</title>
    <link href="admin.css" rel="stylesheet">
</head>
<header>
    <div class="header">
        <h1>
           <a href="adminhomepage.html">SMART COMPANION</a>
        </h1>
    </div>
</header>
<body>
    <div class="navigation">
        <div class="box">
            <a href="userdata.html">VIEW USERS</a>
        </div>
        <div class="box">
            <a href="caretakerdata.html">VIEW CARETAKERS</a>
        </div>
        <div class="box">
            <a href="availability.html">CARETAKER AVAILABILITY</a>
        </div>
    </div>
</body>
<footer>
    &copy; 2024 Smart Companion Application | Group 2 T18L
</footer>
</html>