<!DOCTYPE html>
<html>
<head>
    <title>Smart Companion | Contact</title>
    <link href="caretaker.css" rel="stylesheet">
</head>
<header>
    <div class="header">
        <h1>
           <a href="caretakerhomepage.html">SMART COMPANION</a>
        </h1>
    </div>
</header>
<body>
    <div class="title">
        <h1>Contact</h1>
    </div>
    <div class="contactpatient">
        <h3>Patient Name</h3>
        <button class="contact">Contact Patient</button>
    </div>
</body>
<footer>
    &copy; 2024 Smart Companion Application | Group 2 T18L
</footer>
</html>