<!DOCTYPE html>
<html>
<head>
    <title>Smart Companion | Patients</title>
    <link href="caretaker.css" rel="stylesheet">
</head>
<header>
    <div class="header">
        <h1>
           <a href="caretakerhomepage.html">SMART COMPANION</a>
        </h1>
    </div>
</header>
<body>
    <div class="title">
        <h1>Patients</h1>
    </div>
    <div class="patient">
        <h3>Patient Name</h3>
        <div class="patient-view">
            <a href="patientdetails.html">View Patient</a>
        </div>
    </div>
</body>
<footer>
    &copy; 2024 Smart Companion Application | Group 2 T18L
</footer>
</html>