<!DOCTYPE html>
<html>
<head>
    <title>Smart Companion | Patients</title>
    <link rel="stylesheet" type="text/css" href="static/caretaker.css">
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
</head>
<header>
    <div class="header">
        <h1>
           <a href="Caretaker/caretakerhomepage.html">SMART COMPANION</a>
        </h1>
    </div>
</header>
<body>
    <div class="title">
        <h1>Patients</h1>
    </div>
    <div class="patient">
        <h3>Patient Name</h3>
        <div class="patient-view">
            <a href="Caretaker/patientdetails.html">View Patient</a>
        </div>
    </div>
</body>
<footer>
    &copy; 2024 Smart Companion Application | Group 2 T18L
</footer>
</html>