<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Companion - User Profile</title>
    <link rel="stylesheet" href="static/profile.css">
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
</head>
<body>

    <div class="container">
        <!-- Sidebar -->
        <div class="sidebar">
            <a href="{{ url_for('caretaker') }}"><h2>HOME</h2></a>
            <a href="{{ url_for('contactcare') }}"><button class="nav-btn">CONTACT</button></a>
            <a href="{{ url_for('chatcare') }}"><button class="nav-btn">CHAT</button></a>
            <a href="{{ url_for('locationcare') }}"><button class="nav-btn">PATIENT LOCATION</button></a>
            <a href="{{ url_for('patientscare') }}"><button class="nav-btn">PATIENTS</button></a>
        </div>
        <!-- Main Content -->
        <div class="profile-section">
            <div class="header">
                <h1>SMART COMPANION APP</h1>
            </div>

            <div class="profile-card">
                <h3>PATIENT DETAILS</h3>
                 <div class="profile-content">
                    <img src="{{ image_url }}" alt="Profile Picture" class="profile-img">
                    <div class="profile-details">
                        <p><strong>Name:</strong> {{ user['name'] }}</p>
                        <p><strong>Age:</strong> {{ user['age'] }}</p>
                        <p><strong>Gender:</strong> {{ user['gender'] }}</p>
                        <p><strong>Contact:</strong> {{ user['ph_num'] }}</p>
                    </div>
                    <script src="static/js/edituser.js"></script>
                </div>
            </div>

             <!-- Medical Data Table Section-->
             <div class="contacts-section">
                <div class="top-bar">
                    <div class="contacts-title">MEDICAL REPORTS</div>
                </div>
                <div class="medical-table-container">
                    <table class="contacts-table">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Uploaded Date</th>
                                <th>Medical Report PDF</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for reports in report %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ reports[3] }}</td>
                                <td><a href="{{ url_for('static', filename='report/user/' + reports[4]) }}" target="_blank">{{ reports[4] }}</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            <div class="buttons">
                <a href="{{ url_for('patientscare') }}"><button class="back-btn">BACK</button></a>
            </div>
        </div>
    </div>

</body>
</html>
