<!DOCTYPE html>
<html>
<head>
    <title>Smart Companion</title>
    <link href="main.css" rel="stylesheet">
</head>
<header>
    <div class="header">
        <h1>
           <a href="homepage.html">SMART COMPANION</a>
        </h1>
    </div>
</header>
<body>
    <section class="hero">
        <div class="slogan">
            <h1>Smart Companion: Caring for Seniors, Enriching Lives.</h1>
        </div>
    </section>

    <div class="about-us">
        <h2>About Us</h2>
        <p>At Smart Companion, we are dedicated to providing compassionate and reliable caretaker services for the elderly. Our mission is to enhance the quality of life for seniors by offering personalized, professional care in the comfort of their own homes. With a team of trained and experienced caregivers, we prioritize safety, well-being, and emotional support, ensuring that each individual receives the attention and care they deserve. At Smart Companion, we believe that every senior deserves a smart, caring companion who truly understands their needs.</p>
    </div>
    <div class="authentication">
        <a href="signup.html">REGISTER NOW</a>
        <a href="login.html">LOG IN</a>
    </div>

    <section class="reviews">
        <h2>What Our Clients Say</h2>
        <div class="review-container">
            <div class="review">"Great service! Highly recommended."</div>
            <div class="review">"The caretakers are very professional and caring."</div>
            <div class="review">"Made my life so much easier. Thank you!"</div>
        </div>
    </section>
    
</body>
<footer>
    &copy; 2024 Smart Companion Application | Group 2 T18L
</footer>
</html>