<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    </head>
    <body>
        <h1>Home</h1>
        <p>Welcome to the home page!</p>

        <section>
            <a href="/login" title="Login as an user">Login</a>
        </section>
        <section>
            <a href="/signup" title="Create an account">Signup</a>
        </section>
    </body>
</html>