<!DOCTYPE html>
<html>
<head>
    <title>Smart Companion | View Admins</title>
    <link rel="stylesheet" type="text/css" href="static/superadmin.css">
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
</head>
<header>
    <div class="header">
        <h1>
           <a href="SuperAdmin/superadmin.html">SMART COMPANION</a>
        </h1>
    </div>
</header>
<body>
    <div class="title">
        <h1>Admins</h1>
    </div>
    <div class="admins">
        <h3>Admin Name</h3>
        <button>Update</button>
        <button>Delete</button>
    </div>
</body>
<footer>
    &copy; 2024 Smart Companion Application | Group 2 T18L
</footer>
</html>
