<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts - Smart Companion App</title>
    <link rel="stylesheet" href="static/contact.css">
</head>
<body>
    {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
    {% endwith %}
    <div class="container">
        <!-- Sidebar -->
        <div class="sidebar">
            <a href="{{ url_for('user') }}"><h2>HOME</h2></a>
            <button class="nav-btn"><a href="{{ url_for('contactuser') }}">CONTACT</a></button>
            <button class="nav-btn"><a href="{{ url_for('chatuser') }}">CHAT</a></button>
            <button class="nav-btn"><a href="{{ url_for('locationuser') }}">LOCATION SHARING</a></button>
            <button class="nav-btn"><a href="{{ url_for('emergencyuser') }}">EMERGENCY SPEED DIAL</a></button>
            <button class="nav-btn"><a href="{{ url_for('medicaluser') }}">MEDICAL REPORTS</a></button>
        </div>

        <!-- Main Content -->
        <div class="main-content">
            <div class="header">
                <h1>SMART COMPANION APP</h1>
                <div class="user-profile">
                    <img src="{{ image_url }}" alt="Profile Picture" class="profile-img">
                </div>
            </div>

            <!-- Contacts Section -->
            <div class="contacts-section">
                <h2 class="contacts-title">CONTACTS</h2>
                <table class="contacts-table">
                    <tr>
                        <th>Name</th>
                        <th>Contact Number</th>
                        <th>Remove Number</th>
                    </tr>
                    {% for contact in contacts %}
                    <tr>
                        <td>{{ contact[1] }}</td>
                        <td><a href="tel:+6{{ contact[2] }}" onclick="event.stopPropagation();">{{ contact[2] }}</a></td>
                        <td><a href="/deletecontact?contact_number={{ contact[2] }}" class="edit-btn">REMOVE</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <!-- Buttons -->
            <div class="buttons">
                <button class="back-btn">BACK</button>
                
                <button class="add-btn" onclick="opencontact()">ADD CONTACTS</button>
                <div id="pop-contact" class="popup-container">
                    <div class="popup-content">
                        <span class="close-btn" onclick="closecontact()">&times;</span>
                            <h2>Add Contact</h2>
                            <form method="POST" action="addcontact">
                                <input type="text" name="name" placeholder="Name" required>
                                <input type="text" name="contact_number" placeholder="Contact Number" required>
                                <button type="submit" class="add-btn" onclick="closecontact()">ADD</button>
                            </form>
                            <script src="static/js/edituser.js"></script>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
