<!DOCTYPE html>
<html>
<head>
    <title>Smart Companion | Emergency Speed Dial</title>
    <link rel="stylesheet" type="text/css" href="static/user.css">
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
</head>
<header>
    <div class="header">
        <h1>
           <a href="User/userhomepage.html">SMART COMPANION</a>
        </h1>
    </div>
</header>
<body>
    <div class="title">
        <h1>Emergency Speed Dial</h1>
    </div>
    <div class="emergency-item">
        <img src="images/hosp-icon.png" alt="Hospital">
        <h3>Hospital</h3>
        <button class="emergency-btn">Message & Send Location</button>
    </div>
    <div class="emergency-item">
        <img src="images/police-icon.png" alt="Police">
        <h3>Police</h3>
        <button class="emergency-btn">Message & Send Location</button>
    </div>
    <div class="emergency-item">
        <img src="images/caretaker-icon.png" alt="Caretaker">
        <h3>Caretaker</h3>
        <button class="emergency-btn">Message & Send Location</button>
    </div>
    <div class="emergency-item">
        <img src="images/family-icon.png" alt="Family">
        <h3>Next of Kin</h3>
        <button class="emergency-btn">Message & Send Location</button>
    </div>
</body>
<footer>
    &copy; 2024 Smart Companion Application | Group 2 T18L
</footer>
</html>