<!DOCTYPE html>
<html>
<head>
    <title>Smart Companion | Send Location</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/user.css">
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
</head>
<header>
    <div class="header">
        <h1>
           <a href="User/userhomepage.html">SMART COMPANION</a>
        </h1>
    </div>
</header>
<body>
</body>
<footer>
    &copy; 2024 Smart Companion Application | Group 2 T18L
</footer>
</html>