<!DOCTYPE html>
<html>
<head>
    <title>Smart Companion | Medical Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/user.css">
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
</head>
<header>
    <div class="header">
        <h1>
           <a href="User/userhomepage.html">SMART COMPANION</a>
        </h1>
    </div>
</header>
<body>
    <div class="title">
        <h1>Medical Data</h1>
    </div>

    <div class="patient-info">
    <h2>Patient Information</h2>
    <br>
        <p><strong>Name:</strong> </p>
        <p><strong>Age:</strong> </p>
        <p><strong>Gender:</strong> </p>
        <p><strong>Contact:</strong> </p>
        <p><strong>Location:</strong> </p>
        <p><strong>Past History:</strong> </p>
        <p><strong>Illness:</strong> </p>
    </div>

    <h3>Medication Details</h3>

    <table>
        <tr> 
            <th>Date</th>
            <th>Diagnosis</th>
            <th>Prescription</th> 
            <th>Dosage</th>
        </tr>

        <tr>
            <td> </td>
            <td> </td>
            <td> </td> 
            <td> </td>
        </tr>
    </table>
    <button class="update-info">Update Information</button>
</body>
<br>
<br>
<footer>
    &copy; 2024 Smart Companion Application | Group 2 T18L
</footer>
</html>