<!DOCTYPE html>
<html>
<head>
    <title>Smart Companion | Home Page</title>
    <link href="user.css" rel="stylesheet">
</head>
<header>
    <div class="header">
        <h1>
           <a href="userhomepage.html">SMART COMPANION</a>
        </h1>
    </div>
</header>
<body>
    <div class="navigation">
        <div class="box">
            <a href="medicaldata.html">MEDICAL DATA</a>
        </div>
        <div class="box">
            <a href="location.html">SEND LOCATION</a>
        </div>
        <div class="box">
            <a href="emergency.html">EMERGENCY SPEED DIAL</a>
        </div>
        <div class="box">
            <a href="contact.html">CONTACT</a>
        </div>
    </div>
</body>
<footer>
    &copy; 2024 Smart Companion Application | Group 2 T18L
</footer>
</html>