<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Companion | Home Page</title>
    <link rel="stylesheet" type="text/css" href="static/user.css">
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
</head>
<header>
    <div class="header">
        <h1>
           <a href="">SMART COMPANION</a>
           <div class="title">
                <h2>User Homepage</h2>
            </div>
           <style>
            .top-right {
                position: absolute;
                top: 0;
                right: 0;
                margin: 10px;
                width: 50px;
                height: 50px;
            }
        </style>
           <a href="{{ url_for('userprofile') }}"><img src="{{ image_url }}" alt="user profile page" class="top-right"></a>
        </h1>
    </div>
</header>
<body>
    <div class="navigation">
        <a href="contactuser">
            <div class="box">
                CONTACT
            </div>
        </a>
        <a href="chatuser">
            <div class="box">
                CHAT
            </div>
        </a>
        <a href="locationuser">
            <div class="box">
                SEND LOCATION
            </div>
        </a>
        <a href="emergencyuser">
            <div class="box">
                EMERGENCY SPEED DIAL
            </div>
        </a>
        <a href="medicaluser">
            <div class="box">
                MEDICAL DATA
            </div>
        </a>
        
    </div>
</body>
<footer>
    &copy; 2024 Smart Companion Application | Group 2 T18L
</footer>
</html>