<!DOCTYPE html>
<html>
<head>
    <title>Smart Companion | Home Page</title>
    <link rel="stylesheet" type="text/css" href="static/user.css">
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
</head>
<header>
    <div class="header">
        <h1>
           <a href="">SMART COMPANION</a>
           <style>
            .top-right {
                position: absolute;
                top: 0;
                right: 0;
                margin: 10px;
                width: 50px;
                height: 50px;
            }
        </style>
           <a href="{{ url_for('userprofile') }}"><img src="{{ image_url }}" alt="user profile page" class="top-right"></a>
        </h1>
    </div>
</header>
<body>
    <div class="navigation">
        <div class="box">
            <a href="contactuser">CONTACT</a>
        </div>
        <div class="box">
            <a href="chatuser">CHAT</a>
        </div>
        <div class="box">
            <a href="locationuser">SEND LOCATION</a>
        </div>
        <div class="box">
            <a href="emergencyuser">EMERGENCY SPEED DIAL</a>
        </div>
        <div class="box">
            <a href="medicaluser">MEDICAL DATA</a>
        </div>
    </div>
</body>
<footer>
    &copy; 2024 Smart Companion Application | Group 2 T18L
</footer>
</html>